<div class='subfooter-item'>
  <p><a href='' target='_blank'>Privacy Policy</a></p>
</div>

<div class='subfooter-item'>
  <p><a href='' target='_blank'>Cookie Policy</a></p>
</div>
<div class='subfooter-item'>
  <p><a href='' target='_blank'>Credits</a></p>
</div>
