:root {

  --header-text-color: rgb(255,255,255);
  --header-background-color-dark: rgba(117,34,1,1);
  --header-background-color-light: rgba(160,80,40,1);
  --header-background-color-lighter: rgba(220,126,90,1);

  --slideshow-control-color: rgba(220,220,220,1);
}

body {

  font-family: 'Permanent Marker', cursive;

  background: var(--header-background-color-dark); /* fallback for old browsers */
  background: linear-gradient(to bottom, var(--header-background-color-dark) 32%,var(--header-background-color-light) 100%);

  height: auto;

  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;

  overflow: visible;
}

body a {
  text-decoration: none;
  color: var(--header-text-color);

  transition: text-decoration .10s ease-in-out;
}

body a:hover {
  text-decoration: underline;
}

.inactive {
  display: none;
}

#content {
  display: inline-block;

  min-width: 640px;

  color: var(--header-text-color);
}

/*#page-header #page-header-image {
}*/


#page-header #page-header-image:hover {
  cursor: pointer;
}

#page-header #page-header-image .page-header-text-overlay {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

/*#page-header #page-header-image .page-header-text-overlay a {
  text-decoration: none;
}*/

#page-header #page-header-image .page-header-text-overlay .title {
  position: absolute;
  left: 120px;
  top: 40px;

  /*opacity: 1.0;*/

  z-index: 1;

  font-size: 62pt;

}


#page-header #page-header-image .page-header-text-overlay .subtitle {
  position: absolute;
  left: 120px;
  top: 165px;

  /*opacity: 1.0;*/

  z-index: 1;

  font-size: 36pt;
}

#page-header #page-header-image img {
  width: 100%;
  max-height: 450px;

  opacity: 0.4;

  transition: opacity 0.500s ease-in-out;

  padding: 2px 2px 2px 2px;

  border-radius: 0px 0px 10px 10px;

  z-index: 9999;
}

#page-header #page-header-menu {
  white-space: nowrap;

  overflow: hidden;

  width: 100%;
  position: relative;

  float: left;
  text-align: center;

  margin: 0em 0em 2em 0em;
}

#page-header #page-header-menu .header-item {
  display: inline-block;
  font-size: 18pt;

  padding: 0px 36px 0px 36px;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  border-radius: 10px 10px 10px 10px;

  transition: background-color 0.10s ease-in-out,
              text-shadow 0.10s ease-in-out;
}

#page-header #page-header-menu .header-item:hover,
#page-header #page-header-menu .selected {
  cursor: pointer;
  background-color: var(--header-background-color-light);

  text-decoration: underline;

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}




#page-content {
  padding: 2px 0px 2px 0px;

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  width: 100%;
  min-height: 480px;
}

#page-content .page-title {
  margin: 0px 0px 36px 72px;

  font-size: 48pt;
}

#page-content .copytext {
  font-size: 16pt;

  margin: 0px 0px 36px 72px;
}

#page-content .section {
  width: 100%;
  display: inline-block;
}

#page-header .section .list {
  display: inline-block;
  margin-bottom: 1120px;
}

#page-header .section .list .list-item {
  display: list-item;
}

/*#page-content .section .list .list-item .copytext {
}*/

#page-content .section .title {
  font-size: 36pt;
  padding-left: 72px;
  padding-bottom: 12px;
}

#page-content .section .copytext {
  font-size: 18pt;
  margin: 12pt 72pt 12pt 72pt;
}

#page-content .section .entry {
  display: table-row;

  display: inline-block;

  font-size: 16pt;

  margin: 10px 10px 25px 10px;
}


#page-content .section .entry .title {
  font-size: 20pt;
}

#page-content .section .entry .subtitle {
  font-size: 18pt;
  white-space: nowrap;
  display: table-cell;
  padding: 0px 12px 12px 6px;
}


#page-content .section .entry .bio-pic {
  display: table-cell;
  margin: 0px 20px 0px 20px;
}

#page-content .section .entry .bio-pic img {
  max-width: 480px;
}


#page-content .section .entry .copytext {
  display: table-cell;
  /*width: 820px;*/

  padding: 0px 0px 0px 96px;
  vertical-align: middle;

  text-align: left;

  font-size: 14pt;
}

#page-content .qr-code {
  text-align: center;
  margin: 48px auto auto auto;
}

#page-content .qr-code img {
  max-width: 129px;
  max-height: 129px;

}

#page-footer {
  white-space: nowrap;

  width: 100%;
  position: relative;

  float: left;
  text-align: center;

  padding: 36px 0px 0px 0px;
}

#page-footer .footer-item {

  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  transition: text-shadow 0.10s ease-in-out,
              background-color 0.10s ease-in-out;

  display: inline-block;
  font-size: 24pt;

  padding: 0em 2em 0em 2em;

  border-radius: 10px 10px 10px 10px;

}

#page-footer .footer-item:hover {
  cursor: pointer;
  background-color: var(--header-background-color-lighter);

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

}

#page-subfooter {
  white-space: nowrap;

  width: 100%;
  position: relative;

  float: left;
  text-align: center;

  padding: 0px 0px 30px 0px;
}

#page-subfooter .subfooter-item {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

  transition: text-shadow 0.10s ease-in-out,
              background-color 0.10s ease-in-out;

  display: inline-block;
  font-size: 12pt;

  padding: 0em 2em 0em 2em;

  border-radius: 10px 10px 10px 10px;

}

#page-subfooter .subfooter-item:hover {
  cursor: pointer;
  background-color: var(--header-background-color-lighter);

  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

}

